{% extends 'layout/content.html' %}
{% load i18n %}
{% block content %}
    <h1>{{ event.title }}</h1>
    <div style="float: left;">
        <div style="float:left;max-width:20%;">
            <img src="{{ event.image_url }}" />
        </div>
        <div style="float:left;width:70%;">
            <ul>
                <li class="bold">{{ event.start_datetime }}</li>
                <li>{{ event.where }}</li>
                <li>{% include "event_band_gig_time.html" with event=event %}</li>
                <li><a href="{{ event.event_url }}" title="{{ event.event_url }}">{% trans 'Event detail' %} &raquo;</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}